footer {
  background-color: var(--color-secondary);
}

.rodape {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 4rem;
  padding: 4rem 0;
}

.rodape__links-lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rodape__form {
  display: flex;
  flex-direction: column;
}

.rodape__form-titulo {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.rodape__form-label {
  background-color: white;
  border-radius: 4px 4px 0 0;
  font-size: 0.875rem;
  color: #a2a2a2;
  padding: 0.5rem 0.75rem;
}

.rodape__form-name,
.rodape__form-mensagem {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  margin-bottom: 1rem;
  padding: 0 0 0.5rem 0.75rem;
  color: #464646;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.rodape__form-button {
  background-color: var(--color-primary);
  color: white;
  padding: 1.2rem 0;
  width: 130px;
  text-align: center;
  transition: 0.2s;
  border: none;
  cursor: pointer;
}

.rodape__form-button:hover {
  background-color: #5595e9;
}

@media (max-width: 1024px) {
  .rodape {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    padding: 2rem;
  }
  .rodape__form {
    grid-row: 1/3;
    grid-column: 2;
  }
}

@media (max-width: 768px) {
  .rodape {
    display: block;
    padding: 1rem;
  }
  .rodape__logo {
    display: flex;
    justify-content: center;
  }
  .rodape__links-lista {
    align-items: center;
    margin: 1rem 0 2rem 0;
  }
  .rodape__form-button {
    padding: 0.7rem 0;
  }
}
