:root {
  --color-primary: #2a7ae4;
  --color-secondary: #eaf2fd;
  --text-color: #464646;
  --bg-color: #eaf2fd;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}
