@import url(./global/reset.css);
@import url(./global/global.css);
@import url(./global/direitos-gustavo.css);

@import url(./global/header.css);
@import url(./global/footer.css);

@import url(./home/banner.css);
@import url(./home/produtos.css);

@import url(./login/login.css);
