.catalogo {
  padding-bottom: 2em;
  margin-top: 4rem;
}

.catalogo__topo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.catalogo__topo-titulo {
  font-size: 2rem;
  font-weight: bold;
}

.catalogo__topo-link {
  display: flex;
  gap: 0.5rem;
  color: var(--color-primary);
}

.catalogo__geral {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.catalogo__geral::-webkit-scrollbar {
  display: none;
}

.catalogo__geral-produto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.catalogo__geral-preco {
  font-weight: bold;
}

.catalogo__geral-link {
  color: var(--color-primary);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .catalogo {
    margin-top: 2rem;
    padding: 0 1rem 2rem 1rem;
  }
}

@media (max-width: 768px) {
  .catalogo {
    padding: 0 0.5rem 2rem 0.5rem;
  }
  .catalogo__geral-foto {
    width: 150px;
  }
}
